@use '../../abstract/mixins';
@use '../../abstract/functions' as fn;
@use '../../base/variables' as var;

/*********************
** Home Page Styles **
*********************/
.main {
    flex: 1 1 auto;
    position: relative;

    // About Section
    .about__section {
        position: relative;

        .question__card {
            margin-top: fn.px-to-rem(75px);
        }

        .tips__card {
            margin-top: fn.px-to-rem(150px);
        }
    }

    // Projects Section
    .projects__section {
        @include mixins.d-flex(column, center, unset);
        position: relative;

        .project__cards__wrapper {
            @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-rem(100px));
            position: relative;
            margin-top: fn.px-to-rem(130px);
        }

        .project__cards__button {
            margin-top: fn.px-to-rem(76px);
        }
    }

    // Guides Section
    .guides__section {
        position: relative;

        .question__card {
            margin-top: fn.px-to-rem(100px);
        }
    }

    // Order Section
    .order__section {
        position: relative;
        padding-top: fn.px-to-rem(77px);

        .col {
            @include mixins.d-flex(column, unset, unset);
        }

        &__title {
            font-size: fn.px-to-rem(38px);
            line-height: fn.px-to-percent(42px, 38px);
            font-weight: 400;
            color: var.$btn-txt--color;
        }

        &__description {
            margin-top: fn.px-to-rem(10px);
            font-size: fn.px-to-rem(26px);
            line-height: fn.px-to-percent(30px, 26px);
            font-weight: 400;
            color: var.$btn-txt--color;
        }

        .row {
            @include mixins.d-flex(row, unset, unset, wrap, fn.px-to-rem(30px));
            margin-top: fn.px-to-rem(27px);

            .col {
                .input__row {
                    @include mixins.d-flex(row, center, unset, wrap, fn.px-to-rem(30px));
                    position: relative;

                    @include mixins.breakpoint--md(552px) {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: fn.px-to-rem(10px);
                    }
                }
        
                .checkbox__row {
                    @include mixins.d-flex(row, center, unset, nowrap, fn.px-to-rem(10px));
                    position: relative;
                    margin-top: fn.px-to-rem(20px);
        
                    .privacy-term {
                        font-size: fn.px-to-rem(18px);
                        line-height: fn.px-to-percent(25px, 18px);
                        font-weight: 400;
                        color: var.$btn-txt--color;
        
                        .privacy-guides {
                            color: var.$blue--color;
                        }
                    }
                }
            }
        }
    }

    // Guarantee Section
    .guarantee__section {
        position: relative;
        height: fn.px-to-rem(1200px);
        margin-top: fn.px-to-rem(150px);

        @include mixins.breakpoint--sm-extra(570px) {
            display: none;
        }

        .container {
            @include mixins.d-flex(row, center, center);
            height: 100%;
        }

        &__background {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    // Instruction Section
    .instruction__section {
        position: relative;
        padding-top: fn.px-to-rem((150px));

        .container {
            @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-rem(80px));
        }

        &__title {
            max-width: fn.px-to-rem(520px);
            font-size: fn.px-to-rem(55px);
            line-height: 100%;
            font-weight: 400;
            color: var.$btn-txt--color;
        }

        .instruction__steps__wrapper {
            @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-rem(60px));
            position: relative;

            .instruction__step {
                @include mixins.d-flex(row, center, space-between, wrap, fn.px-to-rem(50px));
                position: relative;

                &-title__wrapper {
                    @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-rem(20px));
                }

                &__icon {
                    @include mixins.d-flex(unset, center, center);
                    position: relative;
                    width: fn.px-to-rem(90px);
                    height: fn.px-to-rem(90px);

                    img {
                        object-fit: contain;
                    }
                }

                &__title {
                    max-width: fn.px-to-rem(300px);
                    font-size: fn.px-to-rem(26px);
                    line-height: fn.px-to-percent(28px, 26px);
                    font-weight: 400;
                    color: var.$btn-txt--color;
                }

                &-info__wrapper {
                    @include mixins.d-flex(row, flex-start, unset, nowrap, fn.px-to-rem(30px));
                }

                &-info {
                    @include mixins.d-flex(column, unset, unset, nowrap, fn.px-to-rem(15px));
                    position: relative;

                    &__title {
                        max-width: fn.px-to-rem(140px);
                        font-size: fn.px-to-rem(18px);
                        line-height: 140%;
                        font-weight: 400;
                        color: var.$btn-txt--color;
                    }

                    &__description {
                        max-width: fn.px-to-rem(180px);
                        font-size: fn.px-to-rem(15px);
                        line-height: fn.px-to-percent(19px, 15px);
                        font-weight: 400;
                        color: var.$btn-txt--color;
                    }
                }


            }
        }
    }
}