@use '../abstract/mixins';

/**********************
** Responsive Styles **
**********************/
@include mixins.breakpoint--x-lg {
    :root {
        font-size: 14px;
    }
}

@include mixins.breakpoint--lg {
    :root {
        font-size: 13px;
    }
}

@include mixins.breakpoint--md {
    :root {
        font-size: 12px;
    }
}

@include mixins.breakpoint--sm-extra {
    :root {
        font-size: 11px;
    }
}

@include mixins.breakpoint--sm {
    :root {
        font-size: 10px;
    }
}